<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betabiš FAQ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/responsive-nav-bar.css">
    <link rel="stylesheet" href="/static/styles/column-layout.css">
    <link rel="stylesheet" href="/static/styles/collapsible.css">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/">Hlavní stránka</a>
        <a href="/faq" class="active">FAQ</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveNavbar()">&#9776;</a>
    </div>

    <div class="row">
        <div class="column left"></div>
        <div class="column middle">
            <h2>
                Frequently asked questions
            </h2>
            <p>Nebo také často kladené otázky. Pokud máš nějakou otázku ohledně našeho projektu, na&nbsp;této stránce na&nbsp;ni máme odpověď. Pokud se tady tvoje otázka nevyskytuje, napiš nám ji dolů a my ti na&nbsp;ni odpovíme!</p>

            <br><hr><br><br>

            <button type="button" class="collapsible"><strong>Proč pan Babiš neví nic o panu Pavlovi?</strong></button>
            <div class="collapsible-content">
              <p>Výroky našeho pana Babiše jsou založeny na machine learning modelu GPT-3 od OpenAI, který byl trénován na datech z let 2019 - 2021. Proto není schopen komentovat nedávné události.</p>
            </div>

            <button type="button" class="collapsible"><strong>Jak to celé funguje?</strong></button>
            <div class="collapsible-content">
              <p>Jedná se o jednoduchou webovou stránku, s pomocí OpenAI generujeme hlášky pana Babiše. Ti, které by zajímaly podrobnosti, se můžou podívat na GitHub, kde je veškerý zdrojový kód stránky.</p>
              <a href="https://github.com/Ihavenolif/babis-gen"><p>https://github.com/Ihavenolif/babis-gen</p></a>
            </div> 

            <button type="button" class="collapsible"><strong>Jsou to reálné výroky pana Babiše? Jste dezinformační stránka?</strong></button>
            <div class="collapsible-content">
              <p>Ne, toto nejsou reálné výroky pana Babiše. Veškeré jeho odpovědi jsou generovány s pomocí umělé inteligence od OpenAI. </p>
              <p>Ne, nejsme dezinformační stránka, nepodáváme reální informace či názory, celý projekt vznikl s cílem pobavit a slouží jenom pro účely zábavy.</p>
            </div> 

            <button type="button" class="collapsible"><strong>Mám návrh / dotaz / připomínku / hate komentář. Kam ho můžu napsat?</strong></button>
            <div class="collapsible-content">
              <p>Nejjednodušší bude na e-mail <strong>info@betabis.cc</strong>, nebo na GitHub v otázce výše (Jak to celé funguje?).</p>
            </div> 
        </div>
        <div class="column right"></div>
      </div>

      <!--
        PASTED GARBAGE AHEAD
      -->

      <script>
        function responsiveNavbar() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }

        var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("collapsible-active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
} 
      </script>
</body>
</html>